#section-accordion-custom {
	.accordion {
		a.collapseCustom {
			padding: 20px;
			font-family: $t-regular;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			background-color: #e8e8e8;
			width: 100%;

			span.title {
				width: 90%;
			}

			span.expand {
				display: inline-block;
				width: 11px;
				height: 11px;
				border: 1px solid #6b6b6b;
				border-radius: 2px;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					width: 7px;
					height: 1px;
					background-color: #6b6b6b;
					top: 4px;
					left: 1px;
				}

				&::after {
					content: '';
					position: absolute;
					width: 1px;
					height: 7px;
					background-color: #6b6b6b;
					top: 1px;
					left: 4px;
					transition: 0.3s;
				}
			}

			&.active {
				span.expand {
					&::after {
						content: '';
						position: absolute;
						width: 1px;
						height: 7px;
						background-color: #6b6b6b;
						top: 1px;
						left: 4px;
						transform: rotate(90deg);
					}
				}
			}
		}

		.collapseCustom {
			padding: 20px 0;

			.panel-body {
				background-color: $white;

				a {
					font-size: 18px !important;
					color: #06c !important;

					&:hover {
						color: #004080;
					}
				}

				ul {
					list-style: square;
					font-size: 18px;
					color: #333333;

					li {
						margin-bottom: 10px;

						.before-text {
							font-family: $t-semibold;
							color: #333333;

						}

						table {
							width: 90%;
							font-family: $t-regular;
							font-size: 14px;

							tbody {
								background-color: #f9f9f9;
							}
						}

						ul.menu-download {
							padding-left: 18px;

							li {
								margin-bottom: 0;
							}
						}
					}
				}

				a {
					color: #666;
					font-family: $t-regular;
					line-height: 0;

					&:first-child {
						margin-right: 30px;
					}
				}

			}
		}
	}

	ul#myUL {
		list-style: none;
		padding: 0;

		li {
			.panel-group {
				margin-bottom: 5px;
			}
		}
	}

	.searchable-box {
		display: inline-block;
		position: relative;
		margin-bottom: 10px;

		#myInput.searchable {
			padding-left: 10px;
			padding-right: 40px;
			padding: 10px 40px 10px 10px;
			height: 30px;
			border-color: #f1f1f1;
			-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
			box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
			background-color: #ffffff;
			z-index: 2;
			border: 1px solid #f1f1f1;
			font-family: $t-regular;
			font-size: 18px;

		}

		svg {
			position: absolute;
			right: 10px;
			display: inline-block;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
		}
	}

	::placeholder {
		color: #666666;
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #666666;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #666666;
	}
}
