.bg-breadcrumb {
	background-color: #fafafa;
	height: 100%;
	padding: 10px 0;

	.breadcrumb {
		margin-bottom: 0;
		background-color: transparent;
		padding: 8px 0px;
		font-family: $o-regular;
		font-size: 13px;
		color: #777;
	}
}