#wrapper {

	header,
	#header {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background-color: $bg-header;
		padding: 2rem 0;
		z-index: 1;
		transition: 0.3s;

		@media #{$to-small-device} {
			padding: 1rem;
		}

		.container {
			img {
				float: left;

				&.scroll {
					display: none;
				}
			}

			.dropdown {
				text-align: right;

				@media #{$to-small-device} {
					display: none;
				}

				.btn.btn-default {
					background-color: transparent;
					color: #eee;
					font-family: $t-regular;
					font-size: 18px;
					border: none;

					.fa.fa-angle-down {
						font-size: 39px;
					}
				}

				.dropdown-menu {
					left: inherit !important;
					right: 0 !important;
				}
			}

			.input-group {
				width: 40%;
				float: right;

				@media #{$to-small-device} {
					display: none;
				}
			}
		}

		.flag {
			position: absolute;
			width: 100%;
			height: 5px;
			bottom: 0;
			background-color: $white;

			&::before {
				content: '';
				position: absolute;
				width: 33.3%;
				left: 0;
				height: 5px;
				background-color: #009246;
			}

			&::after {
				content: '';
				position: absolute;
				width: 33.3%;
				right: 0;
				height: 5px;
				background-color: #CE2B37;
				z-index: 9;
			}
		}
	}

	&.scroll-header {

		hedaer,
		#header {
			padding: 0;

			@media #{$to-small-device} {
				padding: 1rem;
			}

			.container {
				img {
					&.desktop {
						display: none;
					}

					&.scroll {
						display: block;
					}
				}

				.dropdown {
					display: none;
				}

				.input-group {
					top: 23px;
				}
			}
		}
	}
}
