.panel-group {
	background-color: #eee;

	.panel {
		border: none;

		.panel-heading {
			padding: 0;
			background-color: #eee;



			div.button-parent {
				padding: 16px 0;
				margin-right: 15px;
				float: right;

				span {
					display: inline-block;
					width: 10px;
					height: 3px;
					background: $button-parent-color-sidebar-menu;
					position: relative;
					top: -3.5px;
					margin: 0 10px;
					border: none;
					transform: rotate(-45deg);
					border-radius: 10px;
					transition: 0.3s;

					&::before {
						content: '';
						position: absolute;
						width: 10px;
						height: 3px;
						background: $button-parent-color-sidebar-menu;
						left: 3.5px;
						top: 3.5px;
						transform: rotate(-90deg);
						transition: 0.3s;
						border-radius: 10px;
					}
				}

				&.collapsed {
					span {
						display: inline-block;
						width: 10px;
						height: 3px;
						background: $button-parent-color-sidebar-menu;
						position: relative;
						top: -3.5px;
						margin: 0 10px;
						border: none;
						transform: rotate(45deg);
						border-radius: 10px;

						&::before {
							content: '';
							position: absolute;
							width: 10px;
							height: 3px;
							background: $button-parent-color-sidebar-menu;
							left: 3.5px;
							top: -3.5px;
							border-radius: 10px;
							transform: rotate(-90deg);
						}
					}
				}
			}

			a {
				color: $button-parent-color-sidebar-menu;
				font-family: $t-regular;
				text-transform: capitalize;
				font-size: 18px;
				display: inline-block;
				padding: 12px 8px 12px 15px;
				text-decoration: none;
				line-height: 25.7143px;

				&.active {
					font-family: $t-bold;
				}
			}
		}

		.panel-body {
			padding: 0;
			border-top: none !important;
			background-color: rgb(204, 204, 204);

			ul.parent-menu {
				list-style: none;
				background-color: rgb(204, 204, 204);
				padding: 0;

				div.button-child {
					padding: 10px 0;
					margin-right: 15px;
					float: right;
					cursor: pointer;

					span {
						display: inline-block;
						width: 10px;
						height: 3px;
						background: $button-parent-color-sidebar-menu;
						position: relative;
						top: -3.5px;
						margin: 0 10px;
						border: none;
						transform: rotate(-45deg);
						border-radius: 10px;
						transition: 0.3s;

						&::before {
							content: '';
							position: absolute;
							width: 10px;
							height: 3px;
							background: $button-parent-color-sidebar-menu;
							left: 3.5px;
							top: 3.5px;
							transform: rotate(-90deg);
							transition: 0.3s;
							border-radius: 10px;
						}
					}

					&.collapsed {
						span {
							display: inline-block;
							width: 10px;
							height: 3px;
							background: $button-parent-color-sidebar-menu;
							position: relative;
							top: -3.5px;
							margin: 0 10px;
							border: none;
							transform: rotate(45deg);
							border-radius: 10px;

							&::before {
								content: '';
								position: absolute;
								width: 10px;
								height: 3px;
								background: $button-parent-color-sidebar-menu;
								left: 3.5px;
								top: -3.5px;
								border-radius: 10px;
								transform: rotate(-90deg);
							}
						}
					}
				}

				.collpase-child {
					margin-left: -15px;
				}

				li {
					border-bottom: 1px dotted #ddd;
					padding-left: 15px;

					a {
						color: $button-parent-color-sidebar-menu;
						font-family: $t-regular;
						text-transform: capitalize;
						font-size: 18px;
						display: inline-block;
						padding: 12px 8px 12px 15px;
						text-decoration: none;
						line-height: 25.7143px;

						&.active {
							font-family: $t-bold;
						}
					}
				}

				ul.siblings-menu {
					list-style-type: none;
					background-color: rgb(153, 153, 153);
					padding-left: 0px;

					li a {
						color: $button-parent-color-sidebar-menu;
						font-family: $t-regular;
						text-transform: capitalize;
						font-size: 18px;
						display: inline-block;
						padding: 12px 8px 12px 15px;
						text-decoration: none;
						line-height: 25.7143px;

						&.active {
							font-family: $t-bold;
						}
					}
				}
			}
		}
	}

	.panel-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
