a.pre-footer {
	display: block;
	padding: 6px 0;
	text-align: center;
	color: #00264d;
	background-color: #00c5ca;
	font-family: $t-semibold;

	.fa-check {
		margin-right: 4px;
	}

	&:hover {
		text-decoration: none;
	}
}

footer,
#footer {
	
	a {
		text-decoration: none;
	}
	background-color: #00264d;
	padding: 20px;

	.logo {
		margin-bottom: 20px;
	}
	.youtube {
		margin-right: 5px;
	}


	h3 {
		font-family: $t-semibold;
		color: #eee;
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 10px;
		border-top: 1px solid #eee;
		padding-top: 3px;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			a.link {
				display: block;
				font-size: 16px;
				color: #00c5ca;
				padding-top: 10px;
				font-family: $t-semibold;
				text-decoration: none;
				position: relative;


				&::after {
					display: block;
					content: '';
					border-bottom: solid 1px #00c5ca;
					-webkit-transform: scaleX(0.15);
					transform: scaleX(0.15);
					-webkit-transition: -webkit-transform 250ms ease-in-out;
					transition: -webkit-transform 250ms ease-in-out;
					transition: transform 250ms ease-in-out;
					transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
					-webkit-transform-origin: 0 50%;
					transform-origin: 0 50%;

				}

				&:hover::after {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
			}
		}

		&.end-menu {
			padding-top: 10px;
			width: 100%;
			margin: 0;
			margin-top: 10px;
			border-top: 1px solid #eee;

			li {
				display: table-cell;
				width: 1%;
				float: none;
				
				@media #{$to-medium-device} {
					display: block;
					width: auto;
				}

				a {
					text-align: left;
					padding-top: 10px;
					padding-right: 15px;

					&::first-letter {
						text-transform: capitalize;
					}
				}

			}
		}
	}
}
