.signed-in {
	#wrapper {
		header#header-custom {
			margin-top: 65px;
		}
	}
}

#wrapper {
	#content {
		margin-top: 70px !important;

		ol.breadcrumb {
			margin-bottom: 0px !important;
		}
	}


	header#header-custom {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background-color: $bg-header;
		padding: 2rem 0;
		z-index: 1;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;

		@media #{$to-medium-device}{
			padding: 1rem 0;
		}

		.container {
			display: table;

			@media #{$to-medium-device}{
				display: block;
			}

			a img {
				display: table-cell;
				vertical-align: middle;
				float: left;

				@media #{$to-medium-device}{
					height: 51px;
				}

				&.scroll {
					display: none;
				}
			}

			.dropdown {
				text-align: right;
				display: flow-root;

				@media #{$to-medium-device}{
					display: none;
				}

				.btn.btn-default {
					background-color: transparent;
					color: #eee;
					font-family: $t-regular;
					font-size: 18px;
					border: none;

					.fa.fa-angle-down {
						font-size: 39px;
					}
				}

				.dropdown-menu {
					left: inherit !important;
					;
					right: 0 !important;
				}
			}

			.input-search-bar {
				float: right;
				position: relative;

				@media #{$to-medium-device}{
					display: none;
				}

				.portlet {
					margin-bottom: 0;
					.fieldset {
						.form-group {
							margin-bottom: 0;
						}
						.form-group-inline {
							vertical-align: top;
							margin-right: -5px;
							.form-control {
								border: none;
								border-radius: 0px;
								height: 32px;
							}
						}
						.lfr-ddm-field-group-inline {
							background-color: rgb(221, 221, 221);
							height: 32px;
							border-radius: 0px 4px 4px 0px;
							.icon-monospaced .lexicon-icon {
								width: 100%;
								fill: rgb(51, 51, 51);
							}
						}
					}
				}
			}
		}

		.flag {
			position: absolute;
			width: 100%;
			height: 5px;
			bottom: 0;
			left: 0;
			background-color: $white;

			&::before {
				content: '';
				position: absolute;
				width: 33.3%;
				left: 0;
				height: 5px;
				background-color: #009246;
			}

			&::after {
				content: '';
				position: absolute;
				width: 33.3%;
				right: 0;
				height: 5px;
				background-color: #CE2B37;
				z-index: 9;
			}
		}
	}
	&.scroll-header {

		header#header-custom {
			padding: 0 !important;

			@media #{$to-medium-device}{
				padding: 1rem 0 !important;
			}

			.container {
				a img {
					@media #{$to-medium-device}{
						height: 51px;
					}
					&.desktop {
						display: none;
					}

					&.scroll {
						display: block;
					}
				}

				.dropdown {
					display: none;
				}

				.input-search-bar {
					top:23px;
				}
			}
		}
	}
}