#table-custom_wrapper, #table-custom2_wrapper {
	font-family: $t-regular;
	#table-custom, #table-custom2 {
		
		tr:first-child {
			th {
				background: #06c;
				color: $white;
				padding: 20px 0;
				padding-left: 8px;
			}
		}
	}

	.dataTables_info {
		margin-bottom: 20px;
	}

	a.paginate_button {
		background-color: #fafafa;
		padding: 10px 15px;
		border: 1px solid #f3f3f3;
		color: #666666;
		font-size: 13px !important;
		font-family: $t-regular !important;
		text-decoration: none;
		cursor: pointer;
		margin: 0 5px 0 0;

		&.current {
			background-color: #06c;
			color: $white;
		}

		&.previous,
		&.next {
			&.disabled {
				opacity: 0.4;

				&:hover {
					background-color: #fafafa;
					color: #666666;
					text-decoration: none;
					cursor: no-drop;
				}
			}
		}

		&:hover {
			background-color: #06c;
			color: $white;
		}
	}
}
