#amministrazione-trasparente {
	h1.title {
		font-size: 38px;
		position: relative;
		margin-bottom: 35px;
		font-family: $o-bold;

		&::after {
			content: '';
			position: absolute;
			bottom: -20px;
			background: #ccc;
			height: 5px;
			width: 30px;
			left: 0;

		}
	}

	p.description {
		font-size: 21px;
		font-family: $o-light;
		margin-bottom: 20px;
	}

	.main-area {
		padding: 25px 0;
		margin: 0;

		.container {
			padding: 0;
		}
	}

	.show-menu {
		color: #666;
		h5 {

			font-family: $o-semibold;
			font-size: 20px;
			
			margin-top: 0;
			padding-bottom: 6px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 20px;
		}
		p {
			font-family: $o-regular;
			font-size: 15px;
			line-height: 22.5px;
		}
		
		a{
			color: $button-parent-color-sidebar-menu;
			font-size: 15px;
			font-family: $o-bold;
		}
	}
}
