#wrapper {
	#search-custom {
		h2 {
			font-size: 36px;
			font-family: $t-semibold;
			line-height: 39.6px;
			color: rgb(51, 51, 51);
		}

		#search-box {
			background-color: #eeeeee;
			padding: 20px;

			.form-control.search-field__input {
				height: 42px;
				z-index: 0;
			}

			.input-group-btn {
				z-index: 0;

				button {
					height: 42px;
					font-family: $t-bold;
					color: $white;
					background-color: #004d99;
					border-radius: 0 2px 2px 0;
				}
			}

			.results-found {
				display: inline-block;
				font-size: 24px;
				font-family: $t-semibold;
				line-height: 26.4px;
				color: rgb(51, 51, 51);
				padding: 20px 0px 10px 0px;

				strong {
					font-family: $t-bold;
				}
			}
		}

		.results-box {
			font-size: 18px;

			.card-custom {
				padding: 0;
			}

			a {
				color: #06c;
				font-family: $t-semibold;
				line-height: 19.8px;
				margin: 20px 0 10px 0;
				display: inline-block;

				&:hover {
					color: #004080;
				}
			}

			.pagination {
				.result {
					a {
						font-family: $t-regular;
						border: none;
						padding-left: 0;
						color: #333;

						&:hover {
							background-color: transparent;
							color: #333;
						}
					}
				}

				a {
					border: none;
					padding-left: 2px;
					padding-right: 2px;
					font-family: $t-regular;

					@media #{$to-small-device} {
						margin: 0;
					}

					&:hover {
						background: transparent;

					}

					&.active {
						color: #000;
						font-family: $t-bold;
					}
				}
			}
		}

		.filters {
			background-color: #cce6ff;
			height: 100%;
			padding-bottom: 20px;

			@media #{$from-large-device} {
				position: -webkit-sticky;
				position: sticky;
				top: 120px;
				transition: 0.3s;
			}

			h4 {
				text-align: center;
				font-family: $t-semibold;
			}

			.filter-title {
				border-bottom: 1px solid #222;
				font-size: 18px;
				line-height: 19.8px;
				padding-bottom: 5px;
				font-family: $t-semibold;
				color: #333;
			}

			.panel-group {
				li {
					border: none;
				}

				input {
					margin-right: 10px;
					margin-top: 0;
				}

				label {
					font-family: $t-regular;
					font-size: 16px;
					font-weight: 400;
					margin: 0;
				}

				div.button-parent,
				div.button-child {
					margin-right: 0 !important;
					padding: 0;
				}

				div.button-parent span,
				div.button-child span {
					background: #06c;

					&::before {
						background: #06c;
					}
				}

				div.button-parent:hover,
				div.button-child:hover {
					span {
						background: #004080;

						&::before {
							background: #004080;
						}
					}
				}


				margin: 0;
				background: transparent;

				.panel {
					background: transparent;
					-webkit-box-shadow: none;
					box-shadow: none;

					.panel-heading {
						background: transparent;


						.panel-title {

							.input-group {
								margin: 10px 0;
								display: flex;
								align-items: center;
							}


						}
					}

					.panel-collapse {
						.panel-body {
							background: transparent;

							ul.parent-menu {
								background: transparent;

								li {
									padding-left: 25px;

									.panel-title {
										.input-group {
											margin: 2px 0;
											display: flex;
											align-items: center;
										}
									}

									.collpase-child {
										ul.siblings-menu {
											background: transparent;

											li {
												padding-left: 30px;
											}

											&:first-child {
												margin-bottom: 10px;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			a.show {
				padding-left: 25px;
				font-family: $t-regular;
				height: 100%;
				width: 100%;

				span.show-all {
					font-family: $t-bold;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				span.expand {
					display: inline-block;
					width: 11px;
					height: 11px;
					border: 1px solid #06c;
					border-radius: 2px;
					position: relative;
					margin-right: 2px;

					&::before {
						content: '';
						position: absolute;
						width: 7px;
						height: 1px;
						background-color: #06c;
						top: 4px;
						left: 1px;
					}

					&::after {
						content: '';
						position: absolute;
						width: 1px;
						height: 7px;
						background-color: #06c;
						top: 1px;
						left: 4px;
						transition: 0.3s;
					}
				}

				&.active {
					span.expand {
						&::after {
							content: '';
							position: absolute;
							width: 1px;
							height: 7px;
							background-color: #6b6b6b;
							top: 1px;
							left: 4px;
							transform: rotate(90deg);
						}
					}
				}
			}
		}
	}

	.before-text {
		font-family: $t-semibold;
		color: #333333;

	}

	&.scroll-header {
		#search-custom {
			@media #{$from-large-device} {
				.filters {
					top: 80px;
					transition: 0.3s;
				}
			}
		}
	}
}
