.ga-default {
	h1.title {
		font-size: 54px;
		position: relative;
		margin-bottom: 35px;
		font-family: $t-bold;
		line-height: 1.2;

		&::after {
			content: '';
			position: absolute;
			bottom: -20px;
			background: #ccc;
			height: 5px;
			width: 30px;
			left: 0;

		}
	}

	p.description {
		font-size: 21px;
		font-family: $t-light;
		margin-bottom: 20px;
	}

	.main-area {
		padding: 25px 0;
		margin: 0;

		.container {
			padding: 0;
		}
	}

	.show-menu {
		color: #666;
		h3 {
			font-family: $t-semibold;
			margin-top: 0;
			padding-bottom: 6px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 20px;
		}
		h4 {
			font-family: $t-semibold;
		}
		p {
			line-height: 22.5px;

			&.update-date {
				font-size: 0.8em;
				margin-top: 5px;
				font-style: italic;
			}
		}
		
		a{
			color: $button-parent-color-sidebar-menu;
			font-size: 18px;
			font-family: $t-bold;
		}
	}

	.documents,
	.external-attachments {
		background-color: #eee;
		padding: 2rem;

		h4 {
			color: #333;
			font-size: 18px;
			padding-bottom: 1rem;
		}

		ul {
			&.list {
				padding-left: 1.5rem;
				li {
					list-style: none;

					a {
						font-size: 0.95em;
						color: $button-parent-color-sidebar-menu;
						word-break: break-all;
					}
				}
			}
		}
	}

	.executives {
		ul {
			&.list {
				padding-left: 1.5rem;
				li {
					list-style: none;
				}
			}
		}
	}

	.civic-access-adt {

		li {
			&.searchable {
				padding-top: 1rem;
				padding-left: 4rem;
			}
		}

		.civic-access {
			ul {
				&.list {
					li {
						list-style: square;
						font-size: 18px;
						color: #333;

						span {
							&.before-text {
								font-family: "titillium_websemibold";
							}
						}
					}
				}
			}
		}
	}

	.documents-series-list,
	.civic-access-adt {
		ul {
			a {
				font-size: 18px!important;
				color: #06c!important;
				font-family: "titillium_regular_web" !important;
			}
		}
	}

	.office-adt,
	.absence-rates-adt {
		table {
			th {
				font-size: 15px !important;
				vertical-align: middle;
			}
		}
	}
}