.main-title {
    position: relative;
	display: inline-block;

    &::after {
        position: absolute;
        content: '';
        border-bottom: 3px solid $black;
        width: 100%;
        bottom: 0px;
        left: 0;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
span.title-group,
span.title-list {
    font-family: $b-bold, Courier, monospace;
}
