/** variables **/
$primary-color: #01283A;
$secondary-color: #029FE8;
//global
$white: #ffffff;
$black: #000000;

$bg-header: #06c;

$button-parent-color-sidebar-menu: rgb(51,51,51);



//tag

//button



//font
$t-light: 'titillium_weblight';
$t-bold: 'titillium_bold_web';
$t-semibold: 'titillium_websemibold';
$t-regular: 'titillium_regular_web';
$r-regular: 'roboto_regular_web';
$b-regular: 'barlow_regular_web';
$b-medium: 'barlowmedium';
$b-semibold: 'barlowsemibold';
$b-bold: 'barlow_bold_web';
$o-bold: 'open_sansbold';
$o-extrabold: 'open_sansextrabold';
$o-semibold: 'open_sanssemibold';
$o-light: 'open_sanslight';
$o-regular: 'open_sansregular';
//carousel


// media queries breakpoints
$xxs-up: 363.00px;
$xs-up: 575.98px;
$sm-down: 576px;
$sm-up: 767.98px;
$md-down: 768px;
$md-up: 991.98px;
$lg-down: 992px;
$lg-up: 1199.98px;
$xl-down: 1200px;


// variables media queries
$small-devices: "(min-width: #{$sm-down}) and (max-width: #{$sm-up})";
$medium-devices: "(min-width: #{$md-down}) and (max-width: #{$md-up})";
$large-devices: "(min-width: #{$lg-down}) and (max-width: #{$lg-up})";
//from
$from-small-device: "(min-width: #{$sm-down})";
$from-medium-device: "(min-width: #{$md-down})";
$from-large-device: "(min-width: #{$lg-down})";
$from-extra-large-device: "(min-width: #{$xl-down})";
//to
$to-small-device: "(max-width: #{$xs-up})";
$to-medium-device: "(max-width: #{$sm-up})";
$to-large-device: "(max-width: #{$md-up})";
$to-extra-large-device: "(max-width: #{$lg-up})";