@font-face {
    font-family: 'titillium_bold_web';
    src: url('/public/fonts/Titillium_Web/titilliumweb-bold-webfont.eot');
    src: url('/public/fonts/Titillium_Web/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/Titillium_Web/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('/public/fonts/Titillium_Web/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_italic_web';
    src: url('/public/fonts/Titillium_Web/titilliumweb-italic-webfont.eot');
    src: url('/public/fonts/Titillium_Web/titilliumweb-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/Titillium_Web/titilliumweb-italic-webfont.woff2') format('woff2'),
         url('/public/fonts/Titillium_Web/titilliumweb-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'titillium_regular_web';
    src: url('/public/fonts/Titillium_Web/titilliumweb-regular-webfont.eot');
    src: url('/public/fonts/Titillium_Web/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/Titillium_Web/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('/public/fonts/Titillium_Web/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_regular_web';
    src: url('/public/fonts/Roboto/roboto-regular-webfont.eot');
    src: url('/public/fonts/Roboto/roboto-regular-webfont.eot');
    src: url('/public/fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('/public/fonts/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}