/** variables **/
body #wrapper main,
body #wrapper #main {
  margin-top: 128px; }
  @media (max-width: 575.98px) {
    body #wrapper main,
    body #wrapper #main {
      margin-top: 88px; } }

body #wrapper.scroll-header main,
body #wrapper.scroll-header #main {
  margin-top: 88px; }

.m-0 {
  margin: 0 !important; }

.main-title {
  position: relative;
  display: inline-block; }
  .main-title::after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #000000;
    width: 100%;
    bottom: 0px;
    left: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6,
span.title-group,
span.title-list {
  font-family: "barlow_bold_web", Courier, monospace; }

#wrapper header,
#wrapper #header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #06c;
  padding: 2rem 0;
  z-index: 1;
  transition: 0.3s; }
  @media (max-width: 575.98px) {
    #wrapper header,
    #wrapper #header {
      padding: 1rem; } }
  #wrapper header .container img,
  #wrapper #header .container img {
    float: left; }
    #wrapper header .container img.scroll,
    #wrapper #header .container img.scroll {
      display: none; }
  #wrapper header .container .dropdown,
  #wrapper #header .container .dropdown {
    text-align: right; }
    @media (max-width: 575.98px) {
      #wrapper header .container .dropdown,
      #wrapper #header .container .dropdown {
        display: none; } }
    #wrapper header .container .dropdown .btn.btn-default,
    #wrapper #header .container .dropdown .btn.btn-default {
      background-color: transparent;
      color: #eee;
      font-family: "titillium_regular_web";
      font-size: 18px;
      border: none; }
      #wrapper header .container .dropdown .btn.btn-default .fa.fa-angle-down,
      #wrapper #header .container .dropdown .btn.btn-default .fa.fa-angle-down {
        font-size: 39px; }
    #wrapper header .container .dropdown .dropdown-menu,
    #wrapper #header .container .dropdown .dropdown-menu {
      left: inherit !important;
      right: 0 !important; }
  #wrapper header .container .input-group,
  #wrapper #header .container .input-group {
    width: 40%;
    float: right; }
    @media (max-width: 575.98px) {
      #wrapper header .container .input-group,
      #wrapper #header .container .input-group {
        display: none; } }
  #wrapper header .flag,
  #wrapper #header .flag {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    background-color: #ffffff; }
    #wrapper header .flag::before,
    #wrapper #header .flag::before {
      content: '';
      position: absolute;
      width: 33.3%;
      left: 0;
      height: 5px;
      background-color: #009246; }
    #wrapper header .flag::after,
    #wrapper #header .flag::after {
      content: '';
      position: absolute;
      width: 33.3%;
      right: 0;
      height: 5px;
      background-color: #CE2B37;
      z-index: 9; }

#wrapper.scroll-header hedaer,
#wrapper.scroll-header #header {
  padding: 0; }
  @media (max-width: 575.98px) {
    #wrapper.scroll-header hedaer,
    #wrapper.scroll-header #header {
      padding: 1rem; } }
  #wrapper.scroll-header hedaer .container img.desktop,
  #wrapper.scroll-header #header .container img.desktop {
    display: none; }
  #wrapper.scroll-header hedaer .container img.scroll,
  #wrapper.scroll-header #header .container img.scroll {
    display: block; }
  #wrapper.scroll-header hedaer .container .dropdown,
  #wrapper.scroll-header #header .container .dropdown {
    display: none; }
  #wrapper.scroll-header hedaer .container .input-group,
  #wrapper.scroll-header #header .container .input-group {
    top: 23px; }

.bg-breadcrumb {
  background-color: #fafafa;
  height: 100%;
  padding: 10px 0; }
  .bg-breadcrumb .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding: 8px 0px;
    font-family: "open_sansregular";
    font-size: 13px;
    color: #777; }

a.pre-footer {
  display: block;
  padding: 6px 0;
  text-align: center;
  color: #00264d;
  background-color: #00c5ca;
  font-family: "titillium_websemibold"; }
  a.pre-footer .fa-check {
    margin-right: 4px; }
  a.pre-footer:hover {
    text-decoration: none; }

footer,
#footer {
  background-color: #00264d;
  padding: 20px; }
  footer a,
  #footer a {
    text-decoration: none; }
  footer .logo,
  #footer .logo {
    margin-bottom: 20px; }
  footer .youtube,
  #footer .youtube {
    margin-right: 5px; }
  footer h3,
  #footer h3 {
    font-family: "titillium_websemibold";
    color: #eee;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
    padding-top: 3px; }
  footer ul,
  #footer ul {
    list-style: none;
    padding: 0; }
    footer ul li a.link,
    #footer ul li a.link {
      display: block;
      font-size: 16px;
      color: #00c5ca;
      padding-top: 10px;
      font-family: "titillium_websemibold";
      text-decoration: none;
      position: relative; }
      footer ul li a.link::after,
      #footer ul li a.link::after {
        display: block;
        content: '';
        border-bottom: solid 1px #00c5ca;
        -webkit-transform: scaleX(0.15);
        transform: scaleX(0.15);
        -webkit-transition: -webkit-transform 250ms ease-in-out;
        transition: -webkit-transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%; }
      footer ul li a.link:hover::after,
      #footer ul li a.link:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    footer ul.end-menu,
    #footer ul.end-menu {
      padding-top: 10px;
      width: 100%;
      margin: 0;
      margin-top: 10px;
      border-top: 1px solid #eee; }
      footer ul.end-menu li,
      #footer ul.end-menu li {
        display: table-cell;
        width: 1%;
        float: none; }
        @media (max-width: 767.98px) {
          footer ul.end-menu li,
          #footer ul.end-menu li {
            display: block;
            width: auto; } }
        footer ul.end-menu li a,
        #footer ul.end-menu li a {
          text-align: left;
          padding-top: 10px;
          padding-right: 15px; }
          footer ul.end-menu li a::first-letter,
          #footer ul.end-menu li a::first-letter {
            text-transform: capitalize; }

.panel-group {
  background-color: #eee; }
  .panel-group .panel {
    border: none; }
    .panel-group .panel .panel-heading {
      padding: 0;
      background-color: #eee; }
      .panel-group .panel .panel-heading div.button-parent {
        padding: 16px 0;
        margin-right: 15px;
        float: right; }
        .panel-group .panel .panel-heading div.button-parent span {
          display: inline-block;
          width: 10px;
          height: 3px;
          background: #333333;
          position: relative;
          top: -3.5px;
          margin: 0 10px;
          border: none;
          transform: rotate(-45deg);
          border-radius: 10px;
          transition: 0.3s; }
          .panel-group .panel .panel-heading div.button-parent span::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 3px;
            background: #333333;
            left: 3.5px;
            top: 3.5px;
            transform: rotate(-90deg);
            transition: 0.3s;
            border-radius: 10px; }
        .panel-group .panel .panel-heading div.button-parent.collapsed span {
          display: inline-block;
          width: 10px;
          height: 3px;
          background: #333333;
          position: relative;
          top: -3.5px;
          margin: 0 10px;
          border: none;
          transform: rotate(45deg);
          border-radius: 10px; }
          .panel-group .panel .panel-heading div.button-parent.collapsed span::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 3px;
            background: #333333;
            left: 3.5px;
            top: -3.5px;
            border-radius: 10px;
            transform: rotate(-90deg); }
      .panel-group .panel .panel-heading a {
        color: #333333;
        font-family: "titillium_regular_web";
        text-transform: capitalize;
        font-size: 18px;
        display: inline-block;
        padding: 12px 8px 12px 15px;
        text-decoration: none;
        line-height: 25.7143px; }
        .panel-group .panel .panel-heading a.active {
          font-family: "titillium_bold_web"; }
    .panel-group .panel .panel-body {
      padding: 0;
      border-top: none !important;
      background-color: #cccccc; }
      .panel-group .panel .panel-body ul.parent-menu {
        list-style: none;
        background-color: #cccccc;
        padding: 0; }
        .panel-group .panel .panel-body ul.parent-menu div.button-child {
          padding: 10px 0;
          margin-right: 15px;
          float: right;
          cursor: pointer; }
          .panel-group .panel .panel-body ul.parent-menu div.button-child span {
            display: inline-block;
            width: 10px;
            height: 3px;
            background: #333333;
            position: relative;
            top: -3.5px;
            margin: 0 10px;
            border: none;
            transform: rotate(-45deg);
            border-radius: 10px;
            transition: 0.3s; }
            .panel-group .panel .panel-body ul.parent-menu div.button-child span::before {
              content: '';
              position: absolute;
              width: 10px;
              height: 3px;
              background: #333333;
              left: 3.5px;
              top: 3.5px;
              transform: rotate(-90deg);
              transition: 0.3s;
              border-radius: 10px; }
          .panel-group .panel .panel-body ul.parent-menu div.button-child.collapsed span {
            display: inline-block;
            width: 10px;
            height: 3px;
            background: #333333;
            position: relative;
            top: -3.5px;
            margin: 0 10px;
            border: none;
            transform: rotate(45deg);
            border-radius: 10px; }
            .panel-group .panel .panel-body ul.parent-menu div.button-child.collapsed span::before {
              content: '';
              position: absolute;
              width: 10px;
              height: 3px;
              background: #333333;
              left: 3.5px;
              top: -3.5px;
              border-radius: 10px;
              transform: rotate(-90deg); }
        .panel-group .panel .panel-body ul.parent-menu .collpase-child {
          margin-left: -15px; }
        .panel-group .panel .panel-body ul.parent-menu li {
          border-bottom: 1px dotted #ddd;
          padding-left: 15px; }
          .panel-group .panel .panel-body ul.parent-menu li a {
            color: #333333;
            font-family: "titillium_regular_web";
            text-transform: capitalize;
            font-size: 18px;
            display: inline-block;
            padding: 12px 8px 12px 15px;
            text-decoration: none;
            line-height: 25.7143px; }
            .panel-group .panel .panel-body ul.parent-menu li a.active {
              font-family: "titillium_bold_web"; }
        .panel-group .panel .panel-body ul.parent-menu ul.siblings-menu {
          list-style-type: none;
          background-color: #999999;
          padding-left: 0px; }
          .panel-group .panel .panel-body ul.parent-menu ul.siblings-menu li a {
            color: #333333;
            font-family: "titillium_regular_web";
            text-transform: capitalize;
            font-size: 18px;
            display: inline-block;
            padding: 12px 8px 12px 15px;
            text-decoration: none;
            line-height: 25.7143px; }
            .panel-group .panel .panel-body ul.parent-menu ul.siblings-menu li a.active {
              font-family: "titillium_bold_web"; }
  .panel-group .panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center; }

#section-accordion-custom .accordion a.collapseCustom {
  padding: 20px;
  font-family: "titillium_regular_web";
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #e8e8e8;
  width: 100%; }
  #section-accordion-custom .accordion a.collapseCustom span.title {
    width: 90%; }
  #section-accordion-custom .accordion a.collapseCustom span.expand {
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid #6b6b6b;
    border-radius: 2px;
    position: relative; }
    #section-accordion-custom .accordion a.collapseCustom span.expand::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 1px;
      background-color: #6b6b6b;
      top: 4px;
      left: 1px; }
    #section-accordion-custom .accordion a.collapseCustom span.expand::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 7px;
      background-color: #6b6b6b;
      top: 1px;
      left: 4px;
      transition: 0.3s; }
  #section-accordion-custom .accordion a.collapseCustom.active span.expand::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 7px;
    background-color: #6b6b6b;
    top: 1px;
    left: 4px;
    transform: rotate(90deg); }

#section-accordion-custom .accordion .collapseCustom {
  padding: 20px 0; }
  #section-accordion-custom .accordion .collapseCustom .panel-body {
    background-color: #ffffff; }
    #section-accordion-custom .accordion .collapseCustom .panel-body a {
      font-size: 18px !important;
      color: #06c !important; }
      #section-accordion-custom .accordion .collapseCustom .panel-body a:hover {
        color: #004080; }
    #section-accordion-custom .accordion .collapseCustom .panel-body ul {
      list-style: square;
      font-size: 18px;
      color: #333333; }
      #section-accordion-custom .accordion .collapseCustom .panel-body ul li {
        margin-bottom: 10px; }
        #section-accordion-custom .accordion .collapseCustom .panel-body ul li .before-text {
          font-family: "titillium_websemibold";
          color: #333333; }
        #section-accordion-custom .accordion .collapseCustom .panel-body ul li table {
          width: 90%;
          font-family: "titillium_regular_web";
          font-size: 14px; }
          #section-accordion-custom .accordion .collapseCustom .panel-body ul li table tbody {
            background-color: #f9f9f9; }
        #section-accordion-custom .accordion .collapseCustom .panel-body ul li ul.menu-download {
          padding-left: 18px; }
          #section-accordion-custom .accordion .collapseCustom .panel-body ul li ul.menu-download li {
            margin-bottom: 0; }
    #section-accordion-custom .accordion .collapseCustom .panel-body a {
      color: #666;
      font-family: "titillium_regular_web";
      line-height: 0; }
      #section-accordion-custom .accordion .collapseCustom .panel-body a:first-child {
        margin-right: 30px; }

#section-accordion-custom ul#myUL {
  list-style: none;
  padding: 0; }
  #section-accordion-custom ul#myUL li .panel-group {
    margin-bottom: 5px; }

#section-accordion-custom .searchable-box {
  display: inline-block;
  position: relative;
  margin-bottom: 10px; }
  #section-accordion-custom .searchable-box #myInput.searchable {
    padding-left: 10px;
    padding-right: 40px;
    padding: 10px 40px 10px 10px;
    height: 30px;
    border-color: #f1f1f1;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    z-index: 2;
    border: 1px solid #f1f1f1;
    font-family: "titillium_regular_web";
    font-size: 18px; }
  #section-accordion-custom .searchable-box svg {
    position: absolute;
    right: 10px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; }

#section-accordion-custom ::placeholder {
  color: #666666; }

#section-accordion-custom :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666666; }

#section-accordion-custom ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666666; }

#table-custom_wrapper {
  font-family: "titillium_regular_web"; }
  #table-custom_wrapper #table-custom tr:first-child th {
    background: #06c;
    color: #ffffff;
    padding: 20px 0;
    padding-left: 8px; }
  #table-custom_wrapper .dataTables_info {
    margin-bottom: 20px; }
  #table-custom_wrapper a.paginate_button {
    background-color: #fafafa;
    padding: 10px 15px;
    border: 1px solid #f3f3f3;
    color: #666666;
    font-size: 13px !important;
    font-family: "titillium_regular_web" !important;
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px 0 0; }
    #table-custom_wrapper a.paginate_button.current {
      background-color: #06c;
      color: #ffffff; }
    #table-custom_wrapper a.paginate_button.previous.disabled, #table-custom_wrapper a.paginate_button.next.disabled {
      opacity: 0.4; }
      #table-custom_wrapper a.paginate_button.previous.disabled:hover, #table-custom_wrapper a.paginate_button.next.disabled:hover {
        background-color: #fafafa;
        color: #666666;
        text-decoration: none;
        cursor: no-drop; }
    #table-custom_wrapper a.paginate_button:hover {
      background-color: #06c;
      color: #ffffff; }

#amministrazione-trasparente h1.title {
  font-size: 38px;
  position: relative;
  margin-bottom: 35px;
  font-family: "open_sansbold"; }
  #amministrazione-trasparente h1.title::after {
    content: '';
    position: absolute;
    bottom: -20px;
    background: #ccc;
    height: 5px;
    width: 30px;
    left: 0; }

#amministrazione-trasparente p.description {
  font-size: 21px;
  font-family: "open_sanslight";
  margin-bottom: 20px; }

#amministrazione-trasparente .main-area {
  padding: 25px 0;
  margin: 0; }
  #amministrazione-trasparente .main-area .container {
    padding: 0; }

#amministrazione-trasparente .show-menu {
  color: #666; }
  #amministrazione-trasparente .show-menu h5 {
    font-family: "open_sanssemibold";
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px; }
  #amministrazione-trasparente .show-menu p {
    font-family: "open_sansregular";
    font-size: 15px;
    line-height: 22.5px; }
  #amministrazione-trasparente .show-menu a {
    color: #333333;
    font-size: 15px;
    font-family: "open_sansbold"; }

#wrapper #search-custom h2 {
  font-size: 36px;
  font-family: "titillium_websemibold";
  line-height: 39.6px;
  color: #333333; }

#wrapper #search-custom #search-box {
  background-color: #eeeeee;
  padding: 20px; }
  #wrapper #search-custom #search-box .form-control.search-field__input {
    height: 42px;
    z-index: 0; }
  #wrapper #search-custom #search-box .input-group-btn {
    z-index: 0; }
    #wrapper #search-custom #search-box .input-group-btn button {
      height: 42px;
      font-family: "titillium_bold_web";
      color: #ffffff;
      background-color: #004d99;
      border-radius: 0 2px 2px 0; }
  #wrapper #search-custom #search-box .results-found {
    display: inline-block;
    font-size: 24px;
    font-family: "titillium_websemibold";
    line-height: 26.4px;
    color: #333333;
    padding: 20px 0px 10px 0px; }
    #wrapper #search-custom #search-box .results-found strong {
      font-family: "titillium_bold_web"; }

#wrapper #search-custom .results-box {
  font-size: 18px; }
  #wrapper #search-custom .results-box .card-custom {
    padding: 0; }
  #wrapper #search-custom .results-box a {
    color: #06c;
    font-family: "titillium_websemibold";
    line-height: 19.8px;
    margin: 20px 0 10px 0;
    display: inline-block; }
    #wrapper #search-custom .results-box a:hover {
      color: #004080; }
  #wrapper #search-custom .results-box .pagination .result a {
    font-family: "titillium_regular_web";
    border: none;
    padding-left: 0;
    color: #333; }
    #wrapper #search-custom .results-box .pagination .result a:hover {
      background-color: transparent;
      color: #333; }
  #wrapper #search-custom .results-box .pagination a {
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    font-family: "titillium_regular_web"; }
    @media (max-width: 575.98px) {
      #wrapper #search-custom .results-box .pagination a {
        margin: 0; } }
    #wrapper #search-custom .results-box .pagination a:hover {
      background: transparent; }
    #wrapper #search-custom .results-box .pagination a.active {
      color: #000;
      font-family: "titillium_bold_web"; }

#wrapper #search-custom .filters {
  background-color: #cce6ff;
  height: 100%;
  padding-bottom: 20px; }
  @media (min-width: 992px) {
    #wrapper #search-custom .filters {
      position: -webkit-sticky;
      position: sticky;
      top: 120px;
      transition: 0.3s; } }
  #wrapper #search-custom .filters h4 {
    text-align: center;
    font-family: "titillium_websemibold"; }
  #wrapper #search-custom .filters .filter-title {
    border-bottom: 1px solid #222;
    font-size: 18px;
    line-height: 19.8px;
    padding-bottom: 5px;
    font-family: "titillium_websemibold";
    color: #333; }
  #wrapper #search-custom .filters .panel-group {
    margin: 0;
    background: transparent; }
    #wrapper #search-custom .filters .panel-group li {
      border: none; }
    #wrapper #search-custom .filters .panel-group input {
      margin-right: 10px;
      margin-top: 0; }
    #wrapper #search-custom .filters .panel-group label {
      font-family: "titillium_regular_web";
      font-size: 16px;
      font-weight: 400;
      margin: 0; }
    #wrapper #search-custom .filters .panel-group div.button-parent,
    #wrapper #search-custom .filters .panel-group div.button-child {
      margin-right: 0 !important;
      padding: 0; }
    #wrapper #search-custom .filters .panel-group div.button-parent span,
    #wrapper #search-custom .filters .panel-group div.button-child span {
      background: #06c; }
      #wrapper #search-custom .filters .panel-group div.button-parent span::before,
      #wrapper #search-custom .filters .panel-group div.button-child span::before {
        background: #06c; }
    #wrapper #search-custom .filters .panel-group div.button-parent:hover span,
    #wrapper #search-custom .filters .panel-group div.button-child:hover span {
      background: #004080; }
      #wrapper #search-custom .filters .panel-group div.button-parent:hover span::before,
      #wrapper #search-custom .filters .panel-group div.button-child:hover span::before {
        background: #004080; }
    #wrapper #search-custom .filters .panel-group .panel {
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
      #wrapper #search-custom .filters .panel-group .panel .panel-heading {
        background: transparent; }
        #wrapper #search-custom .filters .panel-group .panel .panel-heading .panel-title .input-group {
          margin: 10px 0;
          display: flex;
          align-items: center; }
      #wrapper #search-custom .filters .panel-group .panel .panel-collapse .panel-body {
        background: transparent; }
        #wrapper #search-custom .filters .panel-group .panel .panel-collapse .panel-body ul.parent-menu {
          background: transparent; }
          #wrapper #search-custom .filters .panel-group .panel .panel-collapse .panel-body ul.parent-menu li {
            padding-left: 25px; }
            #wrapper #search-custom .filters .panel-group .panel .panel-collapse .panel-body ul.parent-menu li .panel-title .input-group {
              margin: 2px 0;
              display: flex;
              align-items: center; }
            #wrapper #search-custom .filters .panel-group .panel .panel-collapse .panel-body ul.parent-menu li .collpase-child ul.siblings-menu {
              background: transparent; }
              #wrapper #search-custom .filters .panel-group .panel .panel-collapse .panel-body ul.parent-menu li .collpase-child ul.siblings-menu li {
                padding-left: 30px; }
              #wrapper #search-custom .filters .panel-group .panel .panel-collapse .panel-body ul.parent-menu li .collpase-child ul.siblings-menu:first-child {
                margin-bottom: 10px; }
  #wrapper #search-custom .filters a.show {
    padding-left: 25px;
    font-family: "titillium_regular_web";
    height: 100%;
    width: 100%; }
    #wrapper #search-custom .filters a.show span.show-all {
      font-family: "titillium_bold_web";
      text-decoration: none; }
      #wrapper #search-custom .filters a.show span.show-all:hover {
        text-decoration: underline; }
    #wrapper #search-custom .filters a.show span.expand {
      display: inline-block;
      width: 11px;
      height: 11px;
      border: 1px solid #06c;
      border-radius: 2px;
      position: relative;
      margin-right: 2px; }
      #wrapper #search-custom .filters a.show span.expand::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 1px;
        background-color: #06c;
        top: 4px;
        left: 1px; }
      #wrapper #search-custom .filters a.show span.expand::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 7px;
        background-color: #06c;
        top: 1px;
        left: 4px;
        transition: 0.3s; }
    #wrapper #search-custom .filters a.show.active span.expand::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 7px;
      background-color: #6b6b6b;
      top: 1px;
      left: 4px;
      transform: rotate(90deg); }

#wrapper .before-text {
  font-family: "titillium_websemibold";
  color: #333333; }

@media (min-width: 992px) {
  #wrapper.scroll-header #search-custom .filters {
    top: 80px;
    transition: 0.3s; } }
