<#-- Bandi di Gara -->

<div class="bandi-gara-adt">
    <h2 class="adt-title">${themeDisplay.getPortletDisplay().getTitle()}</h2>

    <#assign journalArticleLocalService=serviceLocator.findService("com.liferay.journal.service.JournalArticleLocalService")>
    <#if entries?has_content>
        <div class="section-accordion-custom">
            <ul class="myUL">
                <#list entries as entry>
                    <#if (entry.className="com.liferay.journal.model.JournalArticle" )>
                        <#assign entry=entry assetRenderer=entry.getAssetRenderer() entryTitle=htmlUtil.escape(assetRenderer.getTitle(locale)) viewURL=assetPublisherHelper.getAssetViewURL(renderRequest, renderResponse, assetRenderer, entry, !stringUtil.equals(assetLinkBehavior, "showFullContent" )) journalArticle=assetRenderer.getAssetObject() document=saxReaderUtil.read(journalArticle.getContent()) rootElement=document.getRootElement()>
                        <#assign bandoDetails=journalArticleLocalService.getArticleContent(journalArticle, journalArticle.getDDMTemplateKey(), "VIEW" , locale, themeDisplay)>
                        <#assign articleID="article-" + journalArticle.getArticleId() collpaseID="collpase-" + journalArticle.getArticleId()>


                        <#assign anno = document.valueOf("//dynamic-element[@name='anno']/dynamic-content/text()") />
                        <#assign oggetto = document.valueOf("//dynamic-element[@name='oggetto']/dynamic-content/text()") />
                        <#assign codCIG = document.valueOf("//dynamic-element[@name='codiceCIG']/dynamic-content/text()") />

                        <#assign title = "" />

                        <#if anno?has_content>
                            <#assign title = title + anno />
                        </#if>

                        <#if codCIG?has_content>
                            <#if title?length gt 0>
                                <#assign title = title + " - CIG " + codCIG />
                            <#else>
                                <#assign title = title + " CIG " + codCIG />
                            </#if>
                        </#if>

                        <#if oggetto?has_content>
                            <#if title?length gt 0>
                                <#assign title = title + " - " + oggetto />
                            <#else>
                                <#assign title = oggetto />
                            </#if>
                        </#if>

                        <#if title?length == 0>
                            <#assign title = entryTitle />
                        </#if>

                        <li class="searchable">
                            <div class="panel-group accordion" id="accordion-custom" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="${articleID}">
                                        <h4 class="panel-title">
                                            <a class="collapseCustom collapse-button" role="button" data-toggle="collapse" data-parent="#accordion-custom" href="#${collpaseID}" aria-expanded="true" aria-controls="${collpaseID}">
                                                <span class="title">${title} <br /> </span>
                                                <span class="expand"></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="${collpaseID}" class="panel-collapse collapse collapseCustom" role="tabpanel" aria-labelledby="${articleID}">
                                        <div class="panel-body">
                                            ${bandoDetails}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </#if>
                </#list>
            </ul>
        </div>
    </#if>
</div>