@font-face {
    font-family: 'titillium_bold_web';
    src: url('./Titillium_Web/titilliumweb-bold-webfont.eot');
    src: url('./Titillium_Web/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./Titillium_Web/titilliumweb-bold-webfont.woff2') format('woff2'),
        url('./Titillium_Web/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_websemibold';
    src: url('./Titillium_Web/titilliumweb-semibold-webfont.eot');
    src: url('./Titillium_Web/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./Titillium_Web/titilliumweb-semibold-webfont.woff2') format('woff2'),
        url('./Titillium_Web/titilliumweb-semibold-webfont.woff') format('woff'),
        url('./Titillium_Web/titilliumweb-semibold-webfont.ttf') format('truetype'),
        url('./Titillium_Web/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium_weblight';
    src: url('./Titillium_Web/titilliumweb-light-webfont.eot');
    src: url('./Titillium_Web/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Titillium_Web/titilliumweb-light-webfont.woff2') format('woff2'),
         url('./Titillium_Web/titilliumweb-light-webfont.woff') format('woff'),
         url('./Titillium_Web/titilliumweb-light-webfont.ttf') format('truetype'),
         url('./Titillium_Web/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_italic_web';
    src: url('./Titillium_Web/titilliumweb-italic-webfont.eot');
    src: url('./Titillium_Web/titilliumweb-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('./Titillium_Web/titilliumweb-italic-webfont.woff2') format('woff2'),
        url('./Titillium_Web/titilliumweb-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'titillium_regular_web';
    src: url('./Titillium_Web/titilliumweb-regular-webfont.eot');
    src: url('./Titillium_Web/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./Titillium_Web/titilliumweb-regular-webfont.woff2') format('woff2'),
        url('./Titillium_Web/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_regular_web';
    src: url('./Roboto/roboto-regular-webfont.eot');
    src: url('./Roboto/roboto-regular-webfont.eot');
    src: url('./Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('./Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold_web';
    src: url('./Roboto/roboto-bold-webfont.eot');
    src: url('./Roboto/roboto-bold-webfont.eot');
    src: url('./Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/roboto-bold-webfont.woff2') format('woff2'),
        url('./Roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* barlow font */

@font-face {
    font-family: 'barlow_regular_web';
    src: url('./Barlow/Barlow-Regular.eot');
    src: url('./Barlow/Barlow-Regular.eot');
    src: url('./Barlow/Barlow-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Barlow/Barlow-Regular.woff2') format('woff2'),
        url('./Barlow/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow_bold_web';
    src: url('./Barlow/Barlow-Bold.eot');
    src: url('./Barlow/Barlow-Bold.eot');
    src: url('./Barlow/Barlow-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Barlow/Barlow-Bold.woff2') format('woff2'),
        url('./Barlow/Barlow-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlowmedium';
    src: url('./Barlow/barlow-medium-webfont.eot');
    src: url('./Barlow/barlow-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Barlow/barlow-medium-webfont.woff2') format('woff2'),
         url('./Barlow/barlow-medium-webfont.woff') format('woff'),
         url('./Barlow/barlow-medium-webfont.ttf') format('truetype'),
         url('./Barlow/barlow-medium-webfont.svg#barlowmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowsemibold';
    src: url('./Barlow/barlow-semibold-webfont.eot');
    src: url('./Barlow/barlow-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Barlow/barlow-semibold-webfont.woff2') format('woff2'),
         url('./Barlow/barlow-semibold-webfont.woff') format('woff'),
         url('./Barlow/barlow-semibold-webfont.ttf') format('truetype'),
         url('./Barlow/barlow-semibold-webfont.svg#barlowsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansbold';
    src: url('./opensans/opensans-bold-webfont.eot');
    src: url('./opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('./opensans/opensans-bold-webfont.woff') format('woff'),
         url('./opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('./opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('./opensans/opensans-extrabold-webfont.eot');
    src: url('./opensans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./opensans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('./opensans/opensans-extrabold-webfont.woff') format('woff'),
         url('./opensans/opensans-extrabold-webfont.ttf') format('truetype'),
         url('./opensans/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('./opensans/opensans-light-webfont.eot');
    src: url('./opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./opensans/opensans-light-webfont.woff2') format('woff2'),
         url('./opensans/opensans-light-webfont.woff') format('woff'),
         url('./opensans/opensans-light-webfont.ttf') format('truetype'),
         url('./opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('./opensans/opensans-regular-webfont.eot');
    src: url('./opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('./opensans/opensans-regular-webfont.woff') format('woff'),
         url('./opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('./opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('./opensans/opensans-semibold-webfont.eot');
    src: url('./opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('./opensans/opensans-semibold-webfont.woff') format('woff'),
         url('./opensans/opensans-semibold-webfont.ttf') format('truetype'),
         url('./opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}